 <div class="introbox">
  <a href="../index.html">
    <img src="../images/me.jpg" class="profilePic">
  </a>
  <h2 class="title">Jack <b>Hanford</b></h2>
  <p class="center">Engineer - Hacker - Technology Addict</p>
  <div id="top" class="buttonspace">
    <a href="/portfolio" class="fa fa-briefcase"><md-tooltip>What I've worked on</md-tooltip></a>
    <!-- <a href="/2013/12/12/BlogIndex.html" class="fa fa-bullhorn tip" data-tip="Blog"></a> -->
    <a href="http://twitter.com/jackhanford" class="fa fa-twitter"><md-tooltip>Twitter</md-tooltip></a>
    <a href="http://github.com/hanford" class="fa fa-github-alt social"><md-tooltip>GitHubt</md-tooltip></a>
    <a href="http://facebook.com/jackhanford" class="fa fa-facebook"><md-tooltip>facebook</md-tooltip></a>
    <a href="mailto:jackhanford@gmail.com" class="fa fa-envelope"><md-tooltip>Email</md-tooltip></a>
    <a href="/Playground/" class="fa fa-flask"><md-tooltip>Playground</md-tooltip></a>
  </div>
</div>